.loginPage{
    background-color: white;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
#signinBtn{
    display: none;
}
#newLogin{
    display: block;
}
#loginBtn{
    display: block;
}